<a href="https://colab.research.google.com/github/admulkay/Python-Guides/blob/main/Python_Basics_Data_Analyst_Class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# write a prohram to print welcome to python
print("Welcome to Python !")

Welcome to Python !

In [ ]:
#write a prog to print the sumation of 2 number
num=200
num1=2256.23
#check the data type
print(type(num))
print(type(num1))
result=num+num1
print(result)
print("the sum of 2 number is ",result)
print(num ,"+",num1,"=",result)

<class 'int'>
<class 'float'>
2456.23
the sum of 2 number is  2456.23
200 + 2256.23 = 2456.23

In [ ]:
#variable value will be dynamic
#input("massage") return the value as string
num=input("Enter the number")
num1=input("Enter the number")
print(type(num))
print(type(num1))
result=num+num1
print(result)

Enter the number150
Enter the number1236
<class 'str'>
<class 'str'>
1501236

In [ ]:
#convert the value from one datatype to another
#convert str(string) to int
num=int(input("Enter the number")) #parse str to int
num1=float(input("Enter the number"))
result=num+num1
print(result)

Enter the number123
Enter the number6398
6521.0

In [ ]:
#Matematical operators
print(100+200)
print(101/3)
print(101//3) #returns only number without decimal
print(100-80)
print(2*3)
print(5%3) #modulus
print(2**3) #exponent 2multiply 3 times

300
33.666666666666664
33
20
6
2
8

In [ ]:
#if condition true do what false what to do
#if <condtion>:
#(five space or 1 tab indenttaion) stetment
#else:
#(five space or 1 tab indenttaion) stetment

In [ ]:
#WAP age>=18 eligble to vote
age=10
if age>=18:
  print("Eligable to Vote")
else:
  print('Grow up !')

Grow up !